@import "tailwindcss";

:root {
  --bg: #f8f6ef;
  --fg: #1e293b;
}

body {
  background: radial-gradient(circle at 0 0, #f1f3e3 0%, var(--bg) 40%);
  color: var(--fg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
